*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    
   

}
.parent{
     margin: 0;
    position: static;
 
}
.header{
    background-color: green;
    width: 100%;
    height: 50px;
    padding: 10px;
    font-size: 30px;
    position: static;
    margin: auto;
}
.header h1{
    font-size: 50px;
    text-align: center;
   text-shadow: 1px 1 black ,1px 1 black ,1px 1 black,1px 1 black;
   color: yellow;
   position: static;
   
}
.nav{
    display: flex;
    padding: 10px;
    justify-content: center;
    background-color:#5d6d3d;
   width: 100%;
    
    
    
}
.nav ul{
    margin: 0;
    padding: 0;
    display:flex;
    list-style: none;
    gap: 20px;
    
}
.nav ul li {
    
    display: inline;
}
.nav ul li a{
    text-decoration: none;
    color:#2E2E2E ;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;

}
.nav ul li a:hover{
    color: yellow;
}
.main{
    
    width:100%;
   
    background-color: rgba(0, 0, 0, .3);
    display: flex;

    background:url('./Photos&Videos/Background.jpg');
    
    background-size:cover;
    background-repeat: no-repeat;
    height: 100vh;

}
.details {
   
    width: 40%;
    margin:5%;
    opacity: 100%;
    text-align:center;
   
}
.details h1{
     text-align: center;
     font-family: sans-serif;
    font-size: 75px;
    color:#5d6d3d;
    text-shadow: 1px 0 black ,1px 0 black ,1px 0 black,1px 0 black;
    
    
     
}
.details p{

    display: flex;
    text-align:center;
    font-family: sans-serif;
    color:black ;
    font-size: 25px;
    padding: 10px;

        
   
}
.details button{
    height: 50px;
    width: 40%;
    margin: 10px;
    border: 0;
    border-radius: 30px;
    background-color: #5d6d3d;
    color: white;
    font-size: 20px;
    
    
}

.details button:hover{
    background-color: yellowgreen;
    color: yellow;
}

.form{
    background-color: rgb(0, 0, 0,0.1);
    width: 40%;
    margin-left: 5%;
    margin: 5%;
    border-radius: 25%;
        

}

#Login{
    margin: 10px;
    padding: 10px;
    text-align: center;
}
#Login h1{
    font-family: sans-serif;
    font-size: 75px;
    color:#5d6d3d;
    text-shadow: 1px 0 black ,1px 0 black ,1px 0 black,1px 0 black;
    
}
#Login label{
    font-size: 25px;
    font-weight: bold;
    font-style: italic;
    color:#2E2E2E ;

}

#Login input{
    height: 50px;
    width: 300px;
    background-color: rgba(0, 0, 0, .3);
    border: 0 ;
    border-radius: 20px;
    color: #CDE6A1;
    font-size: 20px;
    text-align: center;
    
}
::placeholder{
    text-align: center;
    color: #F4F7E3;

}

#Login button{
    height: 50px;
    width: 200px;
    background-color: #E9F5C9;
    border: 0;
    border-radius: 20px;
    font-size: 20px;
}
#Login button:hover{
    background-color: #5d6d3d;
    color: #E9F5C9;
    

}
#register{
    color: green;
    font-weight: bold;
}

.footer{
    background-color: rgba(153, 205, 50, 0.3);
    width: 100%;
    

}
.footer h3{
    text-align: center;
    font-size: 20px;
    font-family: sans-serif;
    padding: 10px;
    color: black;
}
.footer a{
    text-decoration: none;

}
#Profile{
    background-color: rgba(86, 175, 145, 0.1);
    margin: 10px;
    width:50%;
    display: block;
    font-size: large;
    box-shadow:0 4px 10px rgba(0,0,0,0.5);

    
}
#Profile h1{
    text-align: center;
}
#Profile h3{
    text-align:center;
   
    
}
#Profile img{
   
    height: 150px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    padding: 0;
   
}
#Profile h2{
    text-align:center;
   
   
    
}
#Profile p{

    text-align: center ;
}
#HOD{
    background-color: rgba(86, 175, 145, 0.1);
     margin: 10px;
     width: 70%;
     display: block;
     box-shadow:0 4px 10px rgba(0,0,0,0.5);
}
#HOD h1{
    text-align: center;
    margin: 5px;
    
}
.Delivery{
    background-color: rgba(156, 219, 104, 0.521);
    width: auto;
    height: auto;
    display: block;
    padding: 10px;
    font-size: medium;
    margin: 5px;
    border-radius: 10%;
    height: auto;
    margin-top: 20px;
    text-align: center;
    
}
.Delivery iframe{
    height: 100%;
    width: 100%;
}
.Ratings i {
    color: yellow;
}
.OrderID{
    background-color: #5d6d3d;
    text-align: center;
    color: yellow;
    

}
.Earnings_Sum{
    height: 20%;
    width: 20%;
     background-color: rgba(86, 175, 145, 0.1);
    margin: 10px;
    box-shadow:0 4px 10px rgba(0,0,0,0.5);
   
}
.Earnings_Sum h2{
    text-align: center;
    background-color: #5d6d3d;
    width: auto;
    height: auto;
    color: #FFD54F;
    padding: 5px;
    
    
    
}
.Earnings_Sum p{
    text-align: center;
    padding: 20px;
    font-size: large;
  
    
}


.bike_Color{
 color: blue;   
}
.Status{
    height: 60%;
    width: 100%;
     background-color: rgba(86, 175, 145, 0.1);
    margin: 10px;
    box-shadow:0 4px 10px rgba(0,0,0,0.5);
    text-align: center;
   
}
.Status h2{
    text-align:center;
   
   
    
}
.Status button{
    height: 50px;
    width: 150px;
    padding: 5px;
    margin: 10px;
    border-radius: 50%;
}
#Delivered{
    color:#FFD54F ;
   background-color: #5d6d3d9a;
}
#Cancel{
    background-color: rgb(175, 75, 75);
    color: #FFD54F;
}

.Notification{
    position: absolute;
     background-color: rgba(86, 175, 145, 0.753);
    left: 50%;
    top: 80%;
    height: auto;
    width: 48%;
    margin: 10px;
    box-shadow:0 4px 10px rgba(0,0,0,0.8);
    text-align: center;
  
}
.Notification h2{
    text-align: center;
}
#Signup{
    margin: 100px;
    text-align: center;
    
}
#Signup input [type="text"] {
    width: 200px;
    margin: 10px;
}
#checkbox{
    margin: 0;
}
#Signup button {
    height: 50px;
    width: 150px;
    margin: 10px;
}
.Upload{
    background-color: #5d6d3d9a;
    height: 50% ;
    font-size: medium;
    margin: 10px;
    box-shadow:0 4px 10px rgba(0,0,0,0.8);
    text-align: center;
    top: 20%;
    left: 40%;
    position: fixed;
    width: 25%;
    height: 50%;
    
}
.Upload button{
    height: 50px;
    width: 150px;
    margin: 10px;
    background-color: #FFD54F;
    color: #121311;
    border-radius: 10px;
}
.Upload input[type="file"]{
    margin: 10px;
    background-color: aliceblue;
    opacity: 0.5;
    width: 200px;
    text-align: center;
    opacity: 0;
}
.Upload i{
    margin: 10px;
    font-size: 50px;
    opacity: 0.5;
    width: 100px;
    text-align: center;
    opacity: 1;
    position: absolute;
    left: 35%;
   
}
#Parts{

    background-color: rgba(86, 175, 145, 0.753);
    height: auto;
    font-size: larger;
    margin: 10px;
    box-shadow:0 4px 10px rgba(0,0,0,0.8);
    text-align: center;
    top: 10%;
    left: 40%;
    
    
}
.Upload input[type="file"]::file-selector-button{
    margin: 10px;
    opacity: 0;
}
#Description{
    background-color: rgba(86, 175, 145, 0.753);
    height: auto;
    font-size: large;
    margin: 10px;
    box-shadow:0 4px 10px rgba(0,0,0,0.8);
    text-align: center;
    top: 10%;
    left: 40%;
    color: black;
}


#Parts button{
    height: 50px;
    width: 150px;
    margin: 10px;
    background-color: #FFD54F;
    color: #121311;
    border-radius: 10px;

}

